/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
/* Estilos para a página inicial */
.home {
  background-color: #f9f5e0;
  padding: 50px 20px;
  text-align: center;
  color: #5d4b3b;
}

.home h1 {
  font-size: 48px;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
}

.home p {
  font-size: 20px;
  color: #7a5a3e;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* Estilo do Header */
header {
  background-color: #ff6f61; /* Cor de fundo para o cabeçalho */
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700; /* Cor ao passar o mouse */
}

/* Estilo do Footer */
footer {
  background-color: #333;
  color: white;
  padding: 15px 0;
  text-align: center;
}

/* Estilo das Páginas */
.page-content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de Lista de Produtos */
ul.produtos-list {
  list-style-type: none;
  padding: 0;
}

ul.produtos-list li {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

ul.produtos-list li h3 {
  margin: 0;
}

ul.produtos-list li span {
  font-weight: bold;
  color: #ff6f61;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .page-content {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  .produtos-list li {
    flex-direction: column;
    align-items: flex-start;
  }
}
